.rate-button
  - function getRandomArbitrary(min, max) {
  -   return Math.floor(Math.random() * (max - min) + min);
  - }
  - let randomId = getRandomArbitrary(0,99999999999)
  - for (let index = 5; index > 0; index -= 1)
    input.rate-button__input(type="radio" id=`star-${index}-h${randomId}` name=`rating-h${randomId}` value=`${index}`)
    label.rate-button__label(for=`star-${index}-h${randomId}` title=`Оценка «${index}»`)

